/test
/data
/backup/__pycache__
/snapshot
/test-bk
/dist
/build
*.egg-info/
ezIncrementalBackup/__pycache__/cli.cpython-311.pyc
ezIncrementalBackup/backup/__pycache__/full.cpython-311.pyc
ezIncrementalBackup/backup/__pycache__/incremental.cpython-311.pyc
*.pyc
